

<div class="project-content">

  <div class="carousel">
    <div class="carousel__items">
    {{#each project.images}}
        <div class="carousel__item-image"><img class="img-scale" src="{{image}}"></div>
    {{/each}}
  </div>

  <div class="project-details">
    <div class="project-details__title">{{project.name}}</div>
    <div class="project-details__desc">{{{project.description}}}</div>
  </div>

  <div class="project-tech">
    <ul class="project-tech__list">
      {{#each project.technologies}}
        <li class="project-tech__item">
          <div class="project-tech__item-icon"><span class="icon {{icon}}"></span></div>
          <div class="project-tech__item-name">{{technology}}</div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="project-links">
    <ul class="project-links__list">
      {{#if project.url}}
          <li class="project-links__item">
            <a href="{{project.url}}" target="_blank"><i class="icon fa fa-link"></i></a>
          </li>
        {{/if}}
      {{#if project.repo}}
        <li class="project-links__item">
          <a href="{{project.repo}}" target="_blank"><i class="icon fa fa-github"></i></a>
        </li>
      {{/if}}
    </ul>
  </div>

</div>{{!-- .project-content --}}

{{>thumbnails}}