<div class="carousel">
  {{#each project.images}}
    <div class="carousel__item-image"><img class="img-scale" src="{{image}}"></div>
  {{/each}}
</div>

<div class="project">
  <div class="project-details project-info">
    <div class="project-details__title project-info__header">{{project.name}}</div>
    <div class="project-details__desc">{{{project.description}}}</div>
  </div>

  <div class="project-links project-info">
    {{#if project.links}}
      <ul class="project-links__list list-icons">
        {{#if project.url}}
            <li class="project-links__item list-item-icon">
              <div class="list-item-icon__icon"><a href="{{project.url}}" target="_blank"><span class="icon fa fa-link"></span></a></div>
            </li>
          {{/if}}
        {{#if project.repo}}
          <li class="project-links__item list-item-icon">
            <div class="list-item-icon__icon"><a href="{{project.repo}}" target="_blank"><span class="icon fa fa-github"></span></a></div>
          </li>
        {{/if}}
      </ul>
    {{/if}}
  </div>

  <div class="project-tech project-info">
    <div class="project-tech__header project-info__header">Made with</div>
    <ul class="project-tech__list list-icons">
      {{#each project.technologies}}
        <li class="project-tech__item list-item-icon">
          <div class="project-tech__item-icon list-item-icon__icon"><span class="icon {{icon}}"></span></div>
          <div class="project-tech__item-name list-item-icon__caption">{{technology}}</div>
        </li>
      {{/each}}
    </ul>
  </div>

</div>